@page "/"


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

</head>
<body class="page-index">
    <!-- ======= Хедър ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <h1 class="d-flex align-items-center">Нова</h1>
            </a>
        </div>
    </header><!-- Край на хедъра -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h2 data-aos="fade-up">Фокусирайте се върху важното</h2>
                    <blockquote data-aos="fade-up" data-aos-delay="100">
                        <p>Дайте възможност на бизнеса си без усилие: Разгърнете пълния потенциал на инвентара си с нашата цялостна система за управление.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section><!-- Край на секцията с героя -->

    <main id="main">
        <!-- ======= Why Choose Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Защо да изберете нас</h2>
                </div>
                <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-5 img-bg" style="background-image: url('assets/img/why-us-bg.jpg')"></div>
                    <div class="col-xl-7 slides  position-relative">

                        <div class="slides-1 swiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Да развиваме бизнеса ви заедно</h3>
                                        <h4 class="mb-3">С една дума, можем да растем заедно и да успеем заедно</h4>                 
                                        <p>>Нека заедно се фокусираме върху целите на вашия бизнес. Ние ще изградим една здрава стратегия за вас, която ще помогне на вашите продукти да достигнат много повече хора. С нас, вашите мечти за успех са в добри ръце.</p>
                                    </div>
                                </div><!-- End slide item -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Избягайте от стреса и забавленията</h3>
                                        <h4 class="mb-3">Ние ще се погрижим за всичко, свързано със вашата бизнес стратегия</h4>
                                        <p>Да се грижите за своя бизнес е трудна работа. Да имате хора, на които можете да разчитате, е от първостепенна важност. Нашата компания може да се погрижи за всички ваши нужди. Ние ще осигурим нужните ресурси и ще създадем план, който да ви помогне да постигнете желаните резултати.</p>
                                    </div>
                                </div><!-- Край на слайд -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Нещо различно и по-малко обикновено</h3>
                                        <h4 class="mb-3">Обясняваме нуждите от удоволствия и болка на живота.</h4>
                                        <p>Не всеки живот е еднакъв. Всеки от нас има уникални нужди и желания. Ние сме тук, за да ви помогнем да разберете какво искате и да ви предоставим услугите, от които имате нужда, за да постигнете желаното удовлетворение. Животът е пълен с удоволствия и болка, ние сме тук, за да ви помогнем да ги разберете и да се насладите на тях.</p>
                                    </div>
                                </div><!-- Край на слайд -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Нуждите, които не са свързани с удоволствията, не винаги довеждат до щастие</h3>
                                        <h4 class="mb-3">Трудните моменти в живота могат да бъдат безплатни и никак не удовлетворяващи.</h4>
                                        <p>Животът е пълен с трудности и предизвикателства. Ние сме тук, за да ви помогнем да се справите с тях и да постигнете желаното щастие. Има моменти, когато трудностите в живота са безплатни и не предоставят удовлетворение. Ние сме тук, за да ви помогнем да изберете пътя, който води до по-добър живот и по-голямо щастие.</p>
                                    </div>
                                </div><!-- Край на слайд -->

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </section><!-- End Why Choose Us Section -->
        <!-- ======= Our Services Section ======= -->
        <section id="services-list" class="services-list">
            <div class="container">

                <div class="section-header">
                    <h2>Нашите услуги</h2>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 col-md-6 service-item d-flex">
                        <div class="icon flex-shrink-0" style="color: #f57813;">&#x1F4BC;</div>
                        <div>
                            <h4 class="title">Разширено отчитане и анализ</h4>
                            <p class="description">Вземете представа за ефективността на инвентара, идентифицирайте тенденциите и вземете решения, базирани на данни, за да оптимизирате вашата верига за доставки.</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex">
                        <div class="icon flex-shrink-0" style="color: #15a04a;">&#x1F4CB;</div>
                        <div>
                            <h4 class="title">Проследяване на наличностите в реално време:</h4>
                            <p class="description">Наблюдавайте нивата на наличностите в множество местоположения и получавайте незабавни актуализации, за да предотвратите изчерпване или свръхналичност.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex">
                        <div class="icon flex-shrink-0" style="color: #d90769;">&#x1F4CA;</div>
                        <div>
                            <h4 class="title">Автоматизирано пренареждане:</h4>
                            <p class="description">Задайте персонализирани точки за пренареждане за отделни артикули, като гарантирате навременно попълване и оптимални нива на запаси.</p>
                        </div>
                    </div><!-- Край на услугата -->

                    <div class="col-lg-4 col-md-6 service-item d-flex">
                        <div class="icon flex-shrink-0" style="color: #15bfbc;">&#x1F9ED;</div>
                        <div>
                            <h4 class="title">Персонализирани решения за управление на инвентара:</h4>
                            <p class="description">Работете с нашия експертен екип, за да персонализирате система за управление на инвентара, която отговаря на вашите уникални бизнес нужди и рационализира вашите операции.</p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 service-item d-flex">
                        <div class="icon flex-shrink-0" style="color: #f5cf13;">&#x1F506;</div>
                        <div>
                            <h4 class="title">Проследяване на партиди и дати на изтичане:</h4>
                            <p class="description">Наблюдавайте и управлявайте артикули от инвентара с дати на изтичане, като гарантирате навременни продажби и намалявате отпадъците от продукти с изтекъл срок на годност..</p>
                        </div>
                    </div><!-- Край на услугата -->

                    <div class="col-lg-4 col-md-6 service-item d-flex">
                        <div class="icon flex-shrink-0" style="color: #1335f5;">&#x1F5D3;</div>
                        <div>
                            <h4 class="title">Оптимизация на склада:</h4>
                            <p class="description">Увеличете максимално използването на складовото пространство и подобрете ефективността на комисиониране чрез интелигентно планиране и организация на оформлението.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Our Services Section -->
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="" class="logo d-flex align-items-center">
                            <span>Sysdb</span>
                        </a>
                        <p>Овладейте запасите си: рационализирайте, опростете, успейте с нашата система за управление на инвентара</p>
                    </div>
                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Свържете се с нас</h4>
                        <p>
                            Адрес: ул. Адам 108 <br>
                            Пловдив<br>
                            България <br><br>
                            <strong>Телефон:</strong> +1 5589 55488 55<br>
                            <strong>Имейл:</strong> info@example.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

    </footer><!-- End Footer --><!-- End Footer -->



</body>
</html>